# kltespr
/dev/bcm(.*)?           u:object_r:nfc_device:s0
/data/bcmnfc            u:object_r:nfc_device:s0

# everyone else (with compatibility for a symlink related to prebuilt libs?)
/dev/pn(.*)?              u:object_r:nfc_device:s0
